/* _content/PurchaseReportManager.Views/Components/PurchaseReportTable.razor.rz.scp.css */
.purchase-table-wrapper[b-vf66vhurt7] {
    overflow-x: auto;
}

[b-vf66vhurt7] .sort-header {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

[b-vf66vhurt7] .sort-header:hover {
    background-color: #16213a !important;
}
